<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Request to RM</title>
    <style>
      /* CSS styling */ body { font-family: Arial, sans-serif; font-size: 16px;
      line-height: 1.5; color: #333333; } p { margin-top: 0; margin-bottom: 1em;
      } img { height: 20px; width : 150px ; margin-bottom: 1rem;}
      a{text-decoration: none;} a:hover{ text-decoration: underline;}
    </style>
  </head>
  <body>
    <div>
      <div>
        <img
          src="https://dbedf8rr5x9l0.cloudfront.net/mail-signature/logo+2.png"
          alt="solution analysts"
        />
      </div>
      <p>
        Hi
      </p>

      <p>We received a request for booking flat, please click on the link below to see the details:</p>

      <p><a href={link}>Reset Password Link</a></p>

      <!-- <p>Once you click on the link, you will be prompted to enter your new
        password. Please ensure that your password is strong and unique to
        ensure the security of your account.
      </p>

      <p>If you did not request to reset your password, please contact us
        immediately so that we can investigate further.</p> -->

      <p>Thank you,</p>
      <br />
      Loft@CJ

    </div>
  </body>
</html>